.popup {
  display: flex;
  position: fixed;
  /* background: rgba(0, 0, 0, 0.7); */
  background: rgba(115, 111, 111, 0.99);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  /* visibility: hidden; */
  /* opacity: 0;
  transition: visibility .30s, opacity ease .30s; */
}

.popup__container-images {
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
}

.popup__picture {
  max-height: 75vh;
  max-width: 75vw;
}

.popup__close-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-position: center;
  position: absolute;
  top: 12px;
  right: 72px;
  background-image: url(../../images/icon-esc.svg);
  background-size: 40%;
  background-repeat: no-repeat;
}

.popup__left-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 0;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  position: relative;
}


.popup__left-arrow {
  width: 31px;
  height: 31px;
  padding: 0;
  margin-left: 2px;
  position: relative;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(../../images/icon-arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 47%;
  cursor: pointer;
  transition: 0.20s 0.19s ease-out;
}

.popup__left-arrow:hover {
  background-color: black;
}

.popup__left-arrow::before {
  position: absolute;
  content: '';
  display: block;
  top: 0px;
  right: 16px;
  border: 1px solid black;
  border-right: none;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: transparent;
  width: 14px;
  height: 29px;
  margin-left: 3px;
 }

.popup__left-arrow::after {
  position: absolute;
  content: '';
  display: block;
  top: 0px;
  right: 16px;
  border: 1px solid black;
  border-right: none;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: transparent;
  width: 14px;
  height: 29px;
  margin-left: 3px;
  transform-origin: center right;
}

.popup__left-arrow:hover::after {
  transform: rotate(-180deg);
  transition: transform 0.20s;
}


.popup__right-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin-left: 20px;
  cursor: pointer;
}

.popup__right-arrow {
  width: 31px;
  height: 31px;
  padding: 0;
  margin-left: 2px;
  position: relative;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(../../images/icon-arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 47%;
  cursor: pointer;
  transition: 0.20s 0.19s ease-out;
}

.popup__right-arrow:hover {
  background-color: black;
}

.popup__right-arrow::before {
  position: absolute;
  content: '';
  display: block;
  top: 0px;
  right: 0px;
  border: 1px solid black;
  border-left: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  width: 14px;
  height: 29px;
  margin-left: 3px;
 }

.popup__right-arrow::after {
  position: absolute;
  content: '';
  display: block;
  top: 0px;
  right: 0px;
  border: 1px solid black;
  border-left: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  width: 14px;
  height: 29px;
  margin-left: 3px;
  transform-origin: center left;
}

.popup__right-arrow:hover::after {
  transform: rotate(180deg);
  transition: transform 0.20s;
}
