.buttons__right-arrow {
  width: 50px;
  height: 50px;
  padding: 0;
  position: relative;
  border: none;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 47%;
  cursor: pointer;
  transition: 0.20s 0.19s ease-out;
}

.buttons__right-arrow:hover {
  background-color: black;
}

.buttons__right-arrow::before {
  position: absolute;
  content: '';
  display: block;
  top: 0px;
  right: 0px;
  border: 1px solid black;
  border-left: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  width: 24px;
  height: 48px;
  margin-left: 3px;
 }

.buttons__right-arrow::after {
  position: absolute;
  content: '';
  display: block;
  top: 0px;
  right: 0px;
  border: 1px solid black;
  border-left: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  width: 24px;
  height: 48px;
  margin-left: 3px;
  transform-origin: center left
}

.buttons__right-arrow:hover::after {
  transform: rotate(180deg);
  transition: transform 0.20s;
}


.buttons__link-arrow {
  fill: #242424;
  height: 49px;
  width: 30px;
}

.buttons__right-arrow:hover .buttons__link-arrow {
  fill: #fff;
}

/* .buttons__right-button {
  box-sizing: border-box;
  top: 40%;
  right: -90px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.buttons__right-button::before {
  background-image: url(../../../images/icon-arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 13px;
  content: '';
  position: absolute;
  top: 23px;
  left: 20px;
}

.buttons__right-arrow {
  height: 52px;
  width: 52px;
  margin-left: -3px;
  border-radius: 50%
}
.buttons__right-arrow:hover {
  background-color: black;
  transition: 0.20s 0.19s ease-out;
}

.buttons__right-arrow::before {
  position: absolute;
  content: '';
  display: block;
  top: 4px;
  right: 5px;
  border: 1px solid black;
  border-left: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  width: 25px;
  height: 49px;
 }

.buttons__right-arrow::after {
  position: absolute;
  content: '';
  display: block;
  top: 4px;
  right: 5px;
  border: 1px solid black;
  border-left: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  width: 25px;
  height: 49px;
  transform-origin: center left;
}

.buttons__right-arrow:hover::after {
  transform: rotate(180deg);
  transition: transform 0.20s;
} */
