.reference__container {
  display: flex;
  justify-content: space-between;
  padding-left: calc(100% * 361/1440);
  padding-right: calc(100% * 270/1440);
  padding-top: 20px;
}

@media screen and (max-width: 1023px) {
  .reference__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .reference__container {
    padding-left: calc(100% * 87/414);
    padding-right: calc(100% * 24/414);
  }
}