.section-title {
  max-width: 600px;
  font-family: 'Neue Machina', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(28px + 12 * ((100vw - 414px)/(1440 - 414)));
  line-height: 40px;
  letter-spacing: -0.01em;
  margin: 0 362px;
}

@media screen and (min-width: 1440px) {
  .section-title {
    font-size: 40px;
  }
}
