.section-title {
  max-width: 600px;
  width: calc(100% * 366/414);
  font-family: 'Neue Machina', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(28px + 12 * ((100vw - 414px)/(1440 - 414)));
  line-height: calc(32px + 8 * ((100vw - 414px)/(1440 - 414)));
  letter-spacing: -0.01em;
  margin: 0 25%;
}

@media screen and (min-width: 1440px) {
  .section-title {
    font-size: 40px;
    line-height: 1;
  }
}

@media screen and (max-width: 767px){
  .section-title {
    margin-left: calc(100% * 24/414);
    line-height: 1.14;
  }
}
