.section-title {
  max-width: 568px;
  font-family: 'Neue Machina', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  margin: 0 362px;
}
