.persons__title {
  width: 358px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  margin: 0 0 64px 92px;
}
