.video__description {
  font-family: "Formular", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01' on;
  max-width: 716px;
  margin: 0 auto;
}