.header__logo {
  width: 43px;
  height: 35px;
  background-image: url(../../../images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px 33px 0 30px;
  text-decoration: none;
}
