.reference__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 298px;
  min-height: 56px;
  border: 1px solid #242424;
  align-self: flex-start;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #242424;
  background-image: linear-gradient(#000, #000);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: all .2s ease-in;
}

.reference__link:hover {
  background-size: 100% 100%;
  color: #fff;
}

.reference__link:hover .reference__link-icon {
  fill: #fff;
}

.reference__link:active {
  outline: 2px solid #000;
}