.reference__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 298px;
  min-height: 56px;
  border: 1px solid #242424;
  align-self: flex-start;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #242424;
}