.slider__button {
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;

}
.slider__button:not(:last-of-type) {
  margin-right: 20px;
}
.splide:not(.is-overflow) .slider__button {
  display: none;
}

