.video__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .video__list {
    justify-content: flex-start;
    margin-top: 32px;
  }
}