.cooperation {
  margin: 0;
  margin-right: calc(222 / 1440 * 100%);
  margin-left: calc(665 / 1440 * 100%);
  padding: 74px 0 169px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .cooperation {
    margin-right: calc(118 / 1440 * 100%);
    margin-left: calc(25 / 414 * 100%);
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
