.intro {
  padding-top: 52px;
  margin-left: 20px;
  display: grid;
  column-gap: 8.30vw;
  row-gap: calc(30px + 35 * (100vw / 1440));
  grid-template-columns: minmax(250px, 420px) minmax(400px, 720px);
  grid-template-areas:
  '. title'
  'paragraph image'
  '. image';
  justify-content: end;
  justify-items: start;
}

@media screen and (min-width: 1440px) {
  .intro {
    column-gap: 120px;
    row-gap: 65px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 0;
    grid-template-columns: 1fr;
    row-gap: 26px;
    grid-template-areas:
    'title'
    'paragraph'
    'image';
  }
}

