.play {
    padding: 46.5px 0 61.5px;
}

.play__title {
    max-width: 358px;
    margin-bottom: 48px;
}

.play__items {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    gap: 30px;
    max-width: 1320px;
    width: 1320px;
    grid-template-columns: repeat(5, 1fr);
}

.play__item {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.play__cart {
    width: 100%;
    min-height: 300px;
    background-color: #B7C09D;
}

.play__name {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    width: calc(100% * (185/240));
    margin: 24px auto auto;
}

.play__actor {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    width: 190px;
    margin: 16px auto 4px 0;
}

.play__place {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    width: 155px;
}