.buttons__close-icon {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 95px;
  background-image: url(../../../images/esc.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.3s  ease-out;
}

.buttons__close-icon:hover {
  background-color: #504d4da1;
  background-image: url(../../../images/esc-white.png);
}

