.perfomance-card__paragraph {
  margin: 21px 0 13px;
  max-width: 150px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 767px) {
  .perfomance-card__paragraph {
    margin: 0.5rem 0 40px;
  }
}
