.play__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 18px;
    border-top: #242424 1px solid;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.play__item:hover .play__link {
    opacity: 1;
}

@media screen and (max-width: 1279px){
    .play__link {
        opacity: 1;
    }
}