@media screen and (max-width: 767px) {
  .hamburger__line, .hamburger__line::before, .hamburger__line::after {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: rgba(236, 235, 232, 1);
    transition: all .5s cubic-bezier(.25,.75,.25,.75);
  }

  .hamburger__line {
    content: '';
  }

  .hamburger__line::before {
    content: '';
    top: 6px;
  }

  .hamburger__line::after {
    content: '';
    top: -6px;
  }
}
