
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/_place/section-title_place_reference.css);
@import url(../blocks/section-text/section-text.css);

/* header */



/* intro */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__paragraph/intro__paragraph.css);
@import url(../blocks/intro/__picture/intro__picture.css);

/* about */
@import url(../blocks/about/about.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__text/about__text.css);



/* video */




/* video-two */




/* video-three */




/* galary */
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery-photo/gallery-photo.css);
@import url(../blocks/gallery-photo/__item/gallery-photo__item.css);

/* perfomances-three */



/* perfomances-two */



/* perfomances */



/* play */



/* persons */



/* reference */
@import url(../blocks/reference/reference.css);
@import url(../blocks/reference/__container/reference__container.css);
@import url(../blocks/reference/__description/reference__description.css);
@import url(../blocks/reference/__link/reference__link.css);
@import url(../blocks/reference/__link-icon/reference__link-icon.css);


/* cooperation */



/* footer */
