@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-text/section-text.css);

/* header */



/* intro */





/* about */
@import url(../blocks/about/about.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__text/about__text.css);



/* video */




/* video-two */




/* video-three */




/* galary */
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery-photo/gallery-photo.css);
@import url(../blocks/gallery-photo/__item/gallery-photo__item.css);

/* perfomances-three */



/* perfomances-two */



/* perfomances */



/* play */
@import url(../blocks/play/play.css);
@import url(../blocks/play/__title/play__title.css);
@import url(../blocks/play/__items/play__items.css);
@import url(../blocks/play/__item/play__item.css);
@import url(../blocks/play/__cart/play__cart.css);
@import url(../blocks/play/__name/play__name.css);
@import url(../blocks/play/__actor/play__actor.css);
@import url(../blocks/play/__place/play__place.css);
@import url(../blocks/play/__link/play__link.css);
@import url(../blocks/play/__link-text/play__link-text.css);
@import url(../blocks/play/__arrow/play__arrow.css);
@import url(../blocks/play/__arrow/_direction/play__arrow_direction_right.css);
@import url(../blocks/play/__arrow/_direction/play__arrow_direction_bottom.css);

/* persons */



/* reference */



/* cooperation */



/* footer */
