.footer__authors {
  padding-top: 38px;
  grid-area: authors;
  display: flex;
  justify-content: flex-end;
  column-gap: 2px;
}

@media screen and (max-width: 767px) {
  .footer__authors {
    padding-bottom: 74px;
    flex-direction: column;
    font-size: 14px;
    line-height: calc(17 / 14 * 100%);
    row-gap: 16px;
  }
}
