.perfomances__list {
  display: flex;
  justify-content: center;
  column-gap: 59px;
  list-style: none;
  margin: 75px 0 0;
  padding: 0;
}

.perfomances__list .perfomances__item:not(:last-of-type)::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -29.5px;
  height: 268px;
  border: 0.5px solid #242424;
}
