.perfomance-card__authors {
 margin: 1rem 0;
 padding-left: calc(0px + 30 * ((100vw - 1023px)/(1440 - 1023)));
 font-weight: 300;
 font-size: 1rem;
 line-height: 22px;
}

@media screen and (min-width: 1440px) {
  .perfomance-card__authors {
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .perfomance-card__authors {
    margin: 0.5rem 0;
  }
}
