.intro__title {
  max-width: 450px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: calc(35px + 37 * (100vw / 1440));
  line-height: 1;
  margin: 0;
  grid-area: title;
}

@media screen and (min-width: 1440px) {
  .intro__title {
    font-size: 72px;
  }
}
